$bg-main:#27374d;
$bg-border:#415b80;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $bg-main;
}
.btn-back{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: start;

    button{
        margin-left: 1rem;
    }
}
.container{
    margin-top: 3rem;
    border-radius: 2%;
    width: 25%;
    height: 350px;
    background: $bg-border;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}